body {
    background: rgb(6,134,161);
    background: linear-gradient(90deg, rgba(6,134,161,1) 53%, rgba(255,255,255,1) 100%);
    
}
.js-income-display,.js-balance-display {
    width: 120px;
    height: 50px;
    border-radius: 20px;
    padding-top: 12px;
    font-weight: 500;
    background: whitesmoke;
}
.js-income-display{
    color: rgb(98, 159, 7);
}
.js-balance-display{
    color: red;
}
.js-expense-total {
    width:  98%;
    height: 30px;
    color: red;
    border-style: none;
}
canvas {
    margin-top: 50px;
}
button {
    border-style: none;
}
.table-expense {
    margin-top: 100px;
}
.div-input{
    margin-right: 5px;
}
.add-button {
    height: 30px;
}
.validation-text {
    color: rgb(151, 9, 9);
    font-size: 10px;
    margin-top: -10px;
    display: none;
}
